Repository cadet/CADET-Core, pull requests merged in 2024-09, with the labels that each got.

#115 Implement missing CAPI methods
  doc/interface/return_data.rst
  doc/interface/system.rst
  include/cadet/LibVersionInfo.hpp
  include/cadet/cadet.h
  include/common/Driver.hpp
  include/common/SolutionRecorderImpl.hpp
  src/libcadet/VersionInfo.cpp.in
  src/libcadet/api/CAPIv1.cpp
  src/libcadet/model/LumpedRateModelWithPores.hpp
  test/CMakeLists.txt
  test/testCAPIv1.cpp
Labels: dev-call, interface

#245 Change CSTR model to support variable porosity
  doc/README.md
  doc/interface/unit_operations/cstr.rst
  doc/modelling/equations.rst
  doc/modelling/unit_operations/cstr.rst
  src/libcadet/model/StirredTankModel.cpp
  src/libcadet/model/StirredTankModel.hpp
  test/CSTR-Residual.cpp
  test/CSTR-Simulation.cpp
  test/JsonTestModels.cpp
  test/ParticleHelper.cpp
  test/SimHelper.cpp
  test/SimHelper.hpp
  test/data/configuration_CSTR_MichaelisMenten_benchmark1.json
  test/data/configuration_CSTR_MichaelisMenten_benchmark2.json
  test/data/configuration_CSTR_MicroKineticsSMA_benchmark1.json
Labels: unit operation model, good first issue, dev-call

#286 Fix CSTR interface documentation and ensure backwards compatibility
  doc/interface/unit_operations/cstr.rst
  src/libcadet/model/StirredTankModel.cpp
Labels: documentation, maintenance

#287 Add maximum number of AD directions check to AD Jacobian tests
  test/ColumnTests.cpp
Labels: test
