Repository cadet/CADET-Core, pull requests merged in 2025-06, with the labels that each got.

#430 CI fix: fail and exit on first testRunner error
  .github/workflows/ci.yml
Labels: bug, test

#432 Modularize particle model
  src/libcadet/model/GeneralRateModelDG-InitialConditions.cpp
  src/libcadet/model/GeneralRateModelDG.cpp
  src/libcadet/model/GeneralRateModelDG.hpp
  src/libcadet/model/particle/GeneralRateParticle.cpp
  src/libcadet/model/particle/GeneralRateParticle.hpp
  src/libcadet/model/particle/ParticleModel.hpp
  src/libcadet/model/parts/ParticleDiffusionOperatorBase.hpp
  src/libcadet/model/parts/ParticleDiffusionOperatorDG.cpp
  src/libcadet/model/parts/ParticleDiffusionOperatorDG.hpp
Labels: enhancement, unit operation model

#435 Move film diffusion to particle model
  src/libcadet/model/GeneralRateModelDG-LinearSolver.cpp
  src/libcadet/model/GeneralRateModelDG.cpp
  src/libcadet/model/GeneralRateModelDG.hpp
  src/libcadet/model/LumpedRateModelWithPoresDG-InitialConditions.cpp
  src/libcadet/model/LumpedRateModelWithPoresDG-LinearSolver.cpp
  src/libcadet/model/LumpedRateModelWithPoresDG.cpp
  src/libcadet/model/LumpedRateModelWithPoresDG.hpp
  src/libcadet/model/ParameterMultiplexing.cpp
  src/libcadet/model/particle/GeneralRateParticle.cpp
  src/libcadet/model/particle/GeneralRateParticle.hpp
  src/libcadet/model/particle/HomogeneousParticle.cpp
  src/libcadet/model/particle/HomogeneousParticle.hpp
  src/libcadet/model/particle/ParticleModel.hpp
  src/libcadet/model/parts/ParticleDiffusionOperatorBase.cpp
  src/libcadet/model/parts/ParticleDiffusionOperatorBase.hpp
  src/libcadet/model/parts/ParticleDiffusionOperatorDG.cpp
  src/libcadet/model/parts/ParticleDiffusionOperatorDG.hpp
Labels: enhancement

#433 Add Unified HIC Isotherm
  doc/interface/binding/hic_unified.rst
  doc/interface/binding/index.rst
  doc/literature.bib
  doc/modelling/binding/hic_constant_water_activity.rst
  doc/modelling/binding/hic_unified.rst
  doc/modelling/binding/index.rst
  src/libcadet/BindingModelFactory.cpp
  src/libcadet/CMakeLists.txt
  src/libcadet/model/binding/HICUnifiedBinding.cpp
  test/BindingModels.cpp
Labels: binding model

#399 Add docker builds in CI
  .dockerignore
  .github/workflows/cd_docker.yml
  Dockerfile
Labels: dev-call, maintenance

#444 Fix tests: AD Jacobian for LRMP2D
  test/LumpedRateModelWithPoresDG2D.cpp
  test/data/model_LRMP2D2parType_bulkTransportRadVar_1comp.json
  test/data/model_LRMP2D_bulkTransportRadVar_1comp.json
Labels: test
