Repository cadet/CADET-Core, pull requests merged in 2025-05, with the labels that each got.

#401 Add test for crystallization with combined PBM, agg. and frag. in a CSTR
  test/Crystallization.cpp
  test/data/configuration_cry_CSTR_PBM_Agg_Frag_benchmark1.json
  test/data/ref_cry_CSTR_PBM_Agg_Frag_benchmark1.h5
Labels: test

#402 Improve documentation
  BUILD-LINUX.md
  BUILD-OSX.md
  BUILD-WINDOWS.md
  doc/conf.py
  doc/developer_guide/build_options.rst
  doc/developer_guide/cadet_core_architecture.rst
  doc/developer_guide/cadet_python.rst
  doc/developer_guide/model_expansion.rst
  doc/developer_guide/testing.rst
  doc/getting_started/installation_core.rst
  doc/index.rst
  doc/interface/binding/multi_component_colloidal.rst
  doc/interface/flux_reconstruction.rst
  doc/interface/population_balance_model.rst
  doc/interface/reaction/index.rst
  doc/interface/reaction/mass_action_law.rst
  doc/interface/reaction/michaelis_menten_kinetics.rst
  doc/interface/unit_operations/2d_general_rate_model.rst
  doc/interface/unit_operations/multi_channel_transport_model.rst
  doc/interface/unit_operations/radial_flow_models.rst
  doc/literature.bib
  doc/modelling/crystallization/population_balance_model.rst
  doc/modelling/reaction/index.rst
  doc/modelling/reaction/mass_action_law.rst
  doc/modelling/reaction/michaelis_menten_kinetics.rst
  doc/modelling/unit_operations/cstr.rst
  doc/modelling/unit_operations/lumped_rate_model_with_pores.rst
  doc/modelling/unit_operations/multi_channel_transport_model.rst
  doc/publications.rst
  doc/simulation/index.rst
Labels: documentation

#337 Add piece-wise constant radial dependence of parameters to 2D DG discretization
  src/libcadet/model/LumpedRateModelWithPoresDG2D.cpp
  src/libcadet/model/LumpedRateModelWithPoresDG2D.hpp
  src/libcadet/model/parts/TwoDimensionalConvectionDispersionOperatorDG.cpp
  src/libcadet/model/parts/TwoDimensionalConvectionDispersionOperatorDG.hpp
  test/CMakeLists.txt
  test/ColumnTests.cpp
  test/ColumnTests.hpp
  test/JsonTestModels.cpp
  test/LumpedRateModelWithPoresDG2D.cpp
  test/ParticleHelper.cpp
  test/data/model_2DLRMP3Zone_noFilmDiff_1Comp_benchmark1.json
  test/data/model_LRMP2D2parType_bulkTransportRadVar_1comp.json
  test/data/model_LRMP2D_bulkTransportRadVar_1comp.json
  test/data/ref_2DLRMP3Zone_noFilmDiff_1Comp_benchmark1.h5
Labels: feature request, unit operation model, numerics

#412 Overload ScalarParameter methods for reaction model compatibility
  src/libcadet/model/Parameters.hpp
Labels: enhancement

#416 Fix surface diffusion sensitivity test
  test/data/model_GRM_dynLin_1comp_sensbenchmark2.json
  test/data/ref_GRM_dynLin_1comp_sensbenchmark2_FV_Z32parZ4.h5
  test/data/ref_GRM_dynLin_1comp_sensbenchmark2_cDG_P3Z8_GSM_parP3parZ1.h5
Labels: bug, test

#417 Fix test: LRM sensitivities for total porosity
  test/data/ref_LRM_dynLin_1comp_sensbenchmark1_DG_P3Z8.h5
  test/data/ref_LRM_dynLin_1comp_sensbenchmark1_FV_Z32.h5
  test/data/ref_LRM_reqSMA_4comp_sensbenchmark1_DG_P3Z8.h5
  test/data/ref_LRM_reqSMA_4comp_sensbenchmark1_FV_Z32.h5
  test/data/ref_radLRM_dynLin_1comp_sensbenchmark1_FV_Z32.h5
Labels: bug, test

#427 CI: ignore changes to documentation etc
  .github/workflows/ci.yml
Labels: test

#428 Add gcovr-based code coverage workflow with Codecov upload
  .github/workflows/coverage.yml
  CMakeLists.txt
Labels: test
